db.sqlite3

frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.gitignone

# to create new branch : git checkout -b dev
# commit to new branch : git commit -m "Add commit to dev branch"